@import "src/assets/colors";

.add-word-container {
    display: flex;
    border-bottom: 1px solid #e4e5f1;
    width: 100%;

    .add-word-text-btn {
        font-size: 20px;
        padding: 1rem;
        color: $mainBlue;
        cursor: pointer;
        user-select: none;
    }

    .add-word-modal {
        border-radius: 10px;
        background: $white;
        padding: 2.5rem;
        user-select: none;
        width: 23.125rem;

        .modal-body {
            font-size: 1rem;
            color: $gray;
            margin-top: 2.5rem;
        }

        .modal-footer {
            margin-top: 2.5rem;
            align-items: center;
            justify-content: flex-end;
            display: flex;
        }

        .modal-header {
            font-weight: 600;
            color: $gray;
        }
    }
}

.add-word-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin-top: 10px;

    .synonym-input {
        margin-top: 1rem;
    }
}
