@import "src/assets/colors";

.confirmation-modal {
    border-radius: 10px;
    background: $white;
    padding: 2.5rem;
    user-select: none;
    width: 23.125rem;

    .alert-body {
        font-size: 1rem;
        color: $gray;
        margin-top: 2.5rem;
    }

    .alert-footer {
        margin-top: 2.5rem;
        align-items: center;
        justify-content: flex-end;
        display: flex;
    }

    .alert-header {
        font-weight: 600;
        color: $gray;
    }
}
