@import "src/assets/colors";

.manage-word-modal {
    border-radius: 10px;
    background: $white;
    padding: 2.5rem;
    user-select: none;
    width: 23.125rem;

    .close-icon {
        display: flex;
        justify-content: end;
        color: $gray;
        opacity: 0.8;
        position: relative;
        top: -1rem;
        cursor: pointer;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        color: $gray;

        .synonyms-subtitle {
            margin-bottom: 0.625rem;
            font-size: 0.875rem;
        }
    }

    .modal-body {
        font-size: 1rem;
        color: $gray;
    }

    .modal-footer {
        margin-top: 2.5rem;
        align-items: center;
        justify-content: flex-end;
        display: flex;
    }
}
